---
layout: default
---

<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="well">
                <h4>MILESTONES</h4>
                <ul class="list-unstyled post-list-container">
                    {% for post in site.milestones limit:10 %}
                    <li><a href="{{ post.url | relative_url }}" {% if page.title==post.title %} class="active" {% endif %}>{{ post.enddate | date: "%B %Y" }}: {{ post.title }}</a></li>
                    {% endfor %}
                    <li><a href="{{ "/allmilestones" | relative_url }}">All milestones ...</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-8">
            <h1>{{page.number}}. {{ page.title }}</h1>
            <p>{{ page.date | date: "%B %Y" }} - {{ page.enddate | date: "%B %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            <div  id="markdown-content-container">{{ content }}</div>
            <hr>
            <ul class="pager">
                {% if page.previous %}
                <li class="previous">
                    <a href="{{ page.previous.url | relative_url }}">
                        <span aria-hidden="true">&larr;</span> Older
                    </a>
                </li>
                {% endif %} {% if page.next %}
                <li class="next">
                    <a href="{{ page.next.url | relative_url }}">
                      Newer <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>
</div>
